<div class="flex flex-column my-2" *ngFor="let snippet of snippets">
  <p-card>
    <ng-template pTemplate="title">
      <div>{{snippet.title}}</div>
    </ng-template>
    <div>
      <div class="m-1">{{ snippet.description }}</div>
      <ng-container *ngFor="let tag of snippet.tags">
        <p-tag> {{ tag }} </p-tag>
      </ng-container>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-at" styleClass="p-button-secondary"></p-button>
    </ng-template>
  </p-card>
</div>
